{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link type="text/css" rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <style>
        .table {
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .msg {
            background-color: #f2dede;
            color: red;
            padding: 30px;
        }
    </style>

</head>

<body>
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans 'Features' %}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><i class="fa fa-tasks"></i> {% trans 'Board' %}</a></li>
                        <li><a href="/progress/"><i class="fa fa-area-chart"></i> {% trans 'Progress' %}</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="/admin/tasks/feature/{{feature.id}}/change/"><i class="fa fa-tags"></i> {% trans 'Edit Feature' %}</a></li>
                        <li><a href="/admin/tasks/task/?feature__title={{feature.title}}"><i class="fa fa-cog"></i> {% trans 'Edit Tasks' %}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="/admin/"><i class="fa fa-cog"></i> {% trans 'Administration' %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        {% block content %}{% endblock %}


    </div> <!-- /container -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
