{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
<div class='row'>
    <div class='col-lg-10'>
        {% if messages %}
        {% for message in messages %}
        <div class='msg'>{{ message }}</div>
        {% endfor %}
        <br>
        <br>
        {% endif %}

        Tasks:
        <table class="table">
            <thead>
                <tr class="active">
                    <th width="5%">Id</th>
                    <th width="15%">Status</th>
                    <th width="15%">Assigned to</th>
                    <th width="55%">Title</th>
                    <th width="10%">Estimate/Burned</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr class="{% if task.status == 2 %}success{% elif task.status == 1 %}warning{% else %}{% endif %}">
                    <td>{{task.id}}</td>
                    <td>{{task.get_status_display}}</td>
                    <td>{{task.assigned_to.name}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.story_points}}/{{task.burned_story_points}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='col-lg-2'>
        <h3>Filter</h3>
        <br>
        <form>
            {{filter_form.as_p}}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
