<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        .table {
            margin-top: 10px;
            margin-bottom: 20px;
            border-collapse: collapse;
            border: 1px solid gray;
        }
        .table th, .table td{
            border: 1px solid gray;
        }
        .table .active{
            background-color: #f5f5f5;;
        }
        .table .warning{
            background-color: #fcf8e3;
        }
        .table .success{
            background-color: #dff0d8;
        }
        .table .danger{
            background-color: #f2dede;
        }
        .burndown{
            margin-top: 10px;
        }
    </style>
</head>

<body>
        Hi all,
        <br>
        <br>
        <br>

        Highlights:
        <table class="table">
            <thead>
                <tr class="active">
                    <th width="5%">Id</th>
                    <th width="15%">Flag</th>
                    <th width="15%">Assigned to</th>
                    <th width="65%">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for highlight in highlights %}
                <tr class="{% if highlight.flag == 0 %}success{% elif highlight.flag == 1 %}warning{% else %}danger{% endif %}">
                    <td>{{highlight.id}}</td>
                    <td>{{highlight.get_flag_display}}</td>
                    <td>{{highlight.assigned_to.name}}</td>
                    <td>{{highlight.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        In progress:
        <table class="table">
            <thead>
                <tr class="active">
                    <th width="5%">Id</th>
                    <th width="15%">Status</th>
                    <th width="15%">Assigned to</th>
                    <th width="55%">Title</th>
                    <th width="10%">Estimate/Burned</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks_inprogress %}
                <tr class="warning">
                    <td>{{task.id}}</td>
                    <td>{{task.get_status_display}}</td>
                    <td>{{task.assigned_to.name}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.story_points}}/{{task.burned_story_points}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        Done:
        <table class="table">
        <thead>
            <tr class="active">
                <th width="5%">Id</th>
                <th width="15%">Status</th>
                <th width="15%">Assigned to</th>
                <th width="55%">Title</th>
                <th width="10%">Estimate/Burned</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_done %}
            <tr class="success">
                <td>{{task.id}}</td>
                <td>{{task.get_status_display}}</td>
                <td>{{task.assigned_to.name}}</td>
                <td>{{task.title}}</td>
                <td>{{task.story_points}}/{{task.burned_story_points}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        
        Burndown:
        <div class='burndown'>
        {{svg|safe}}
        </div>

</body>
</html>
