{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
<div class='row'>
    <div class='col-lg-10'>
        {% if messages %}
        {% for message in messages %}
        <div class='msg'>{{ message }}</div>
        {% endfor %}
        <br>
        <br>
        {% endif %}

        {% if request.user.is_authenticated %}
        <div id="email" class="btn btn-warning pull-right">Send Email</div>
        <br>
        {% endif %}

        Highlights:
        <table class="table">
            <thead>
                <tr class="active">
                    <th width="5%">Id</th>
                    <th width="15%">Flag</th>
                    <th width="15%">Assigned to</th>
                    <th width="65%">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for highlight in highlights %}
                <tr class="{% if highlight.flag == 0 %}success{% elif highlight.flag == 1 %}warning{% else %}danger{% endif %}">
                    <td>{{highlight.id}}</td>
                    <td>{{highlight.get_flag_display}}</td>
                    <td>{{highlight.assigned_to.name}}</td>
                    <td>{{highlight.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        In progress:
        <table class="table">
            <thead>
                <tr class="active">
                    <th width="5%">Id</th>
                    <th width="15%">Status</th>
                    <th width="15%">Assigned to</th>
                    <th width="55%">Title</th>
                    <th width="10%">Estimate/Burned</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks_inprogress %}
                <tr class="warning">
                    <td>{{task.id}}</td>
                    <td>{{task.get_status_display}}</td>
                    <td>{{task.assigned_to.name}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.story_points}}/{{task.burned_story_points}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        Done:
        <table class="table">
        <thead>
            <tr class="active">
                <th width="5%">Id</th>
                <th width="15%">Status</th>
                <th width="15%">Assigned to</th>
                <th width="55%">Title</th>
                <th width="10%">Estimate/Burned</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_done %}
            <tr class="success">
                <td>{{task.id}}</td>
                <td>{{task.get_status_display}}</td>
                <td>{{task.assigned_to.name}}</td>
                <td>{{task.title}}</td>
                <td>{{task.story_points}}/{{task.burned_story_points}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        
        Burndown:
        <div id="burndown"></div>
    </div>
    <div class='col-lg-2'>
        <h3>Filter</h3>
        <br>
        <form>
            {{filter_form.as_p}}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
Highcharts.chart('burndown', {
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    exporting: {
        url: '/progress/'
    },
    xAxis: {
        categories: [{% for x in burndown.x_axis %}'{{x}}',{% endfor %},]
    },
    yAxis: {
        title: {
            text: 'Story points'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Real',
        data: [{% for y in burndown.y_axis_real %}{{y}},{% endfor %},]
    }, {
        name: 'Ideal',
        data: [{% for y in burndown.y_axis_ideal %}{{y}},{% endfor %},]
    }]
});

$("#email").click(function(){
    var chart = $('#burndown').highcharts();
    chart.exportChart({
        type: 'application/pdf',
        filename: 'my-pdf'
    });
});
</script>
{% endblock %}
